<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.phonegap.dvams"
        version   = "3.0 beta">
  <name>D-VAMS</name>
  <description>Dynamic Visual Analogue Mood Scales (D-VAMS) - A nonverbal mood assessment instrument to help assess people with communication problems due to aphasia.</description>
  <author email="dvams@zenid.com" href="http://www.dvams.com">Dr Paul Barrows</author>
  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
  <preference name="EnableViewportScale" value="true" />
  <icon src="icon.png" />
  <preference name="Splashscreen" value="splash" />
  <splash src="splash.png" />
</widget>