<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.phonegap.dvams"
        version   = "3.0.2">
  <name>D-VAMS</name>
  <description>Dynamic Visual Analogue Mood Scales (D-VAMS) - A nonverbal mood assessment instrument to help assess people with communication problems due to aphasia.</description>
  <author email="admin@dvams.com" href="http://www.dvams.com">Paul D. Barrows, Ph.D.</author>
  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="D-VAMS" value="PhonegapBuild.PGBDeveloper" />
  <preference name="WindowsStoreIdentityName" value="D-VAMS"/>
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
  <preference name="EnableViewportScale" value="true" />
  <gap:plugin name="cordova-plugin-geolocation" source="npm" />
  <gap:plugin name="cordova-plugin-whitelist" version="1.1.0" source="npm" />
  <access origin="*" launch-external="yes" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <icon src="icon.png" />
  <preference name="Splashscreen" value="splash" />
  <splash src="splash.png" />
</widget>